/* * {
    margin: 0;
    padding: 0;
  } */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  width: 100%;
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #fefefe;
}

  a {
    color: #fff;
    text-decoration: none;
  }
  .pg-footer {
    font-family: 'Roboto', sans-serif;
  }
  
  
  .footer {
      background-color: #cadae9;
      color: #fff;
  }
  .footer-wave-svg {
      background-color: transparent;
      display: block;
      height: 70px !important;
      position: relative;
      top: -1px;
      width: 100%;
  }
  .footer-wave-path {
      fill: #fffff2;
  }
  
  .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 450px;
      position: relative;
  }
  
  .footer-content-column {
      box-sizing: border-box;
      float: left;
      padding-left: 15px;
      padding-right: 80px;
      width: 100%;
      color: #fff;
  }
  
  .footer-content-column ul li a {
    color: black;
    text-decoration: none;
  }
  .footer-content-column ul li a:hover {
    color: blue;
  }
  
  .footer-logo-link {
      display: inline-block;
  }
  .footer-menu {
      margin-top: 30px;
  }

  .footer_border{
    border-right: 1px solid #fff !important;
  }

  .footer-menu-list{
    padding-bottom: 2px;
  }
  
  
  .footer-menu-name {
      color: #39379f;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      text-transform: uppercase;
      text-underline-position: below !important;
      border-radius: 2px;
  }
  .footer-menu-names {
      color: #39379f;
      font-size: 16px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 23px;
      margin-top: 0;
      margin-left: 0;
      text-transform: uppercase;
      text-underline-position: below !important;
      border-radius: 2px;
  }
  .footer-menu-list {
      list-style: none;
      margin-bottom: 0;
      margin-top: 16px;
      padding-left: 0;
  }
  .footer-menu-list li {
      margin-top: 5px;
  }
  
  .footer-call-to-action-description {
      color: #fffff2;
      margin-top: 10px;
      margin-bottom: 20px;
  }
  .footer-call-to-action-button:hover {
      background-color: #fffff2;
      color: #00bef0;
  }
  .button:last-of-type {
      margin-right: 0;
  }
  .footer-call-to-action-button {
      background-color: #027b9a;
      border-radius: 21px;
      color: #fffff2;
      display: inline-block;
      font-size: 11px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      padding: 12px 30px;
      margin: 0 10px 10px 0;
      text-decoration: none;
      /* text-transform: uppercase; */
      transition: background-color .2s;
      cursor: pointer;
      position: relative;
  }
  .footer-call-to-action {
      margin-top: 30px;
  }
  .footer-call-to-action-title {
      color: #fffff2;
      font-size: 14px;
      font-weight: 900;
      letter-spacing: .1em;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
      /* text-transform: uppercase; */
  }
  .footer-call-to-action-link-wrapper {
      margin-bottom: 0;
      margin-top: 10px;
      color: #fff;
      text-decoration: none;
  }
  .footer-call-to-action-link-wrapper a {
      color: #fff;
      text-decoration: none;
  } 
  .footer-social-links {
      bottom: 0;
      height: 54px;
      position: absolute;
      right: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-svg {
      height: 54px;
      left: 0;
      display: block;
      position: absolute;
      top: 0;
      width: 236px;
  }
  
  .footer-social-amoeba-path {
      fill: #027b9a;
  }
  
  .footer-social-link.linkedin {
      height: 26px;
      left: 3px;
      top: 11px;
      width: 26px;
  }
  
  .footer-social-link {
      display: block;
      padding: 10px;
      position: absolute;
  }
  
  .hidden-link-text {
      position: absolute;
      clip: rect(1px 1px 1px 1px);
      clip: rect(1px,1px,1px,1px);
      -webkit-clip-path: inset(0px 0px 99.9% 99.9%);
      clip-path: inset(0px 0px 99.9% 99.9%);
      overflow: hidden;
      height: 1px;
      width: 1px;
      padding: 0;
      border: 0;
      top: 50%;
  }
  
  .footer-social-icon-svg {
      display: block;
  }
  
  .footer-social-icon-path {
      fill: #fffff2;
      transition: fill .2s;
  }
  
  .footer-social-link.twitter {
      height: 28px;
      left: 62px;
      top: 3px;
      width: 28px;
  }
  
  .footer-social-link.youtube {
      height: 24px;
      left: 123px;
      top: 12px;
      width: 24px;
  }
  
  .footer-social-link.github {
      height: 34px;
      left: 172px;
      top: 7px;
      width: 34px;
  }
  
  .footer-copyright {
      background-color: #027b9a;
      color: #fff;
      padding: 15px 30px;
    text-align: center;
  }
  
  .footer-copyright-wrapper {
      margin-left: auto;
      margin-right: auto;
      max-width: 1200px;
  }
  
  .footer-copyright-text {
    color: #fff;
      font-size: 13px;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 0;
      margin-top: 0;
  }
  
  .footer-copyright-link {
      color: #fff;
      text-decoration: none;
  }
  img.footer_logo {
    width: 85px;
    height: auto;
  }
  
  
  @media (min-width:1366px) and (max-width:1920px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer_border {
      border-right: 1px solid black !important;
      margin-right: 60px !important;
  }
  } 
  @media (min-width:1142px) and (max-width:1366px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content-column {
      padding-right: 60px !important;
  }
  }
  @media (min-width:1097px) and (max-width:1142px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content-column {
      padding-right: 49px !important;
  }
  }
  @media (min-width:761px) and (max-width:1096px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content-column {
      padding-right: 20px !important;
  }
  }
  
  /* Media Query For different screens */
  @media (min-width:320px) and (max-width:479px)  { /* smartphones, portrait iPhone, portrait 480x320 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 970px;
      position: relative;
    }
  }
  @media (min-width:480px) and (max-width:599px)  { /* smartphones, Android phones, landscape iPhone */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 970px;
      position: relative;
    }
  }
  @media (min-width:600px) and (max-width: 759px)  { /* portrait tablets, portrait iPad, e-readers (Nook/Kindle), landscape 800x480 phones (Android) */
    .footer-content {
      margin-left: auto;
      margin-right: auto;
      max-width: 1230px;
      padding: 40px 15px 970px;
      position: relative;
    }
  }
  @media (min-width:801px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */
  
  }
  @media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */
  
  }
  @media (min-width:1281px) { /* hi-res laptops and desktops */
  
  }
  
  
  
  
  @media (min-width: 760px) {
    .footer-content {
        margin-left: auto;
        margin-right: auto;
        max-width: 1230px;
        padding: 40px 15px 350px;
        position: relative;
    }
  
    .footer-wave-svg {
        height: 70px;
    }
    .wisdom-wave-svg {
      height: 70px;
    }
  
    .footer-content-column {
        width: 24.99%;
    }
    .footer_border{
        border-right: 0px solid #fff;
        margin-right: 0px;
      }
      .footer-content-column {
        box-sizing: border-box;
        float: left;
        padding-left: 60px;
        padding-right: 18px;
        color:black;
    }
    
      .footer-content-columns {
        box-sizing: border-box;
        float: left;
        padding-left: 0px;
        margin-bottom: 17px;
        padding-bottom: 17px;
        padding-right: 18px;
        color:black;
    }
  }
  @media (min-width: 568px) {
    /* .footer-content-column {
        width: 49.99%;
    } */
  }
  .f_large{
    font-size: 36px !important;
    margin-top: -10px;
    font-weight: 600 !important;
  }
 
.pricing-footer a:hover{
	background-color: #fff;
	color: #6038f7;
}
.pricing-footer a {
    display: inline-block;
    font-size: 12px;
    font-weight: 700;
    background-color: #6038f7;
    color: #fff;
    border: 1px solid #6038f7;
    border-radius: 3px;
    text-align: center;
    padding: 10px 12px;
    -webkit-transition: .15s cubic-bezier(0.43, 0.49, 0.51, 0.68);
    transition: .15s cubic-bezier(0.43, 0.49, 0.51, 0.68);
}
.pad_tb{
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}
/* faq code */
.faq {
    padding-left: 12%;
    padding-right: 12%;
    .faq-item {
      border-bottom: 1px solid #e5e5e5;
      button[aria-expanded='true'] {
        border-bottom: 1px solid #03b5d2;
      }
    }
    button {
      position: relative;
      display: flex;
      text-align: left;
      width: 100%;
      /* padding: 1em 0; */
      color: #495057;
      font-size: 1.15rem;
      font-weight: 400;
      border: none;
      background: none;
      outline: none;
      &:hover, &:focus {
        cursor: pointer;
        color: #03b5d2;
        &::after {
          cursor: pointer;
          color: #03b5d2;
          border: 1px solid #03b5d2;
        }
      }
      .faq-title {
        padding: 1em 1.5em 1em 0;
      }
      .icon {
        display: inline-block;
        position: absolute;
        top: 18px;
        right: 0;
        width: 22px;
        height: 22px;
        border: 1px solid;
        border-radius: 22px;
        &::before {
          display: block;
          position: absolute;
          content: '';
          top: 9px;
          left: 5px;
          width: 10px;
          height: 2px;
          background: currentColor;
        }
        &::after {
          display: block;
          position: absolute;
          content: '';
          top: 5px;
          left: 9px;
          width: 2px;
          height: 10px;
          background: currentColor;
        }
      }
    }
    button[aria-expanded='true'] {
      color: #03b5d2;
      .icon {
        &::after {
          width: 0;
        }
      }
      + .faq-content {
        opacity: 1;
        max-height: 9em;
        transition: all 200ms linear;
        will-change: opacity, max-height;
      }
    }
    .faq-content {
      opacity: 0;
      max-height: 0;
      overflow: hidden;
      transition: opacity 200ms linear, max-height 200ms linear;
      will-change: opacity, max-height;
      p {
        font-size: 1rem;
        font-weight: 300;
        margin: 2em 0;
      }
    }
  }
  /* contact */
  .contact-info{
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.card{
  position: relative;
  flex: 1;
  max-width: 300px;
  height: 140px;
  background-color: #fffff2;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px #ccc;
}

.box_card{
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 265px;
  background-color: #fffff2;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 4px 4px 4px #ccc;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 6px;
}
.box_card_content{
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
}

.box_card_right{
  position: relative;
  flex: 1;
  max-width: 460px;
  height: 265px;
  background-color: #fffff2;
  margin: 20px;
  cursor: pointer;
  display: flex;
  align-items: right !important;
  justify-content: right;
  box-shadow: 4px 4px 4px #ccc;
  padding-left: 5px;
  padding-top: 5px;
  padding-bottom: 10px;
  border-radius: 6px;
}

.icon{
    font-size: 32px;
    color: #0348b8;
    transition: .3s linear;
}

.card:hover .icon{
    transform: scale(4);
    opacity: 0;
}

.card-content h3,
.card-content span{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    font-size: 16px;
    opacity: 0;
}

.card-content h3{
    top: 20px !important;
    text-transform: uppercase;
    color: #212529;
}

.card-content span{
    bottom: 20px;
    color: #5f6368;
    font-weight: 500;
}

.card:hover h3{
    opacity: 1;
    top: 46px;
    transition: .3s linear .3s;
}

.card:hover span{
    opacity: 1;
    bottom: 46px;
    transition: .3s linear .3s;
}


@media screen and (max-width:900px){
    .card{
        flex: 100%;
        max-width: 500px;
    }
}
/* sidebar code */
.side_container{
  margin: 0;
  font-family: 'Arial', sans-serif;
  display: flex;
  /* height: 100vh; */
  align-items: center;
  justify-content: center;
  margin-bottom: 40px;
}
.sidebar {
  background-color: #00336600;
  color: white;
  width: 250px;
  display: flex;
  flex-direction: column;
  padding: 20px 0;
  border-radius: 5px;
  gap: 2px;
  margin-right: -1px;
}

.sidebar button {
  background: none;
  border: none;
  color: white;
  text-align: left;
  padding: 15px 20px;
  font-size: 18px;
  cursor: pointer;
  width: 100%;
}

.sidebar button.active, .sidebar button:hover {
  background-color: #ffffff;
  color: #003366;
  font-weight: bold;
  border-top-left-radius: 25px;
  border-bottom-left-radius: 25px;
}

.main-content {
  flex: 1;
  background: #ffffff;
  padding: 40px;
  display: flex;
  border-radius: 5px;
  /* flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center; */
}

.main-content img {
  max-width: 100%;
  height: auto;
  /* margin-top: 20px; */
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 620px;
  height: 455px;
}
.learn-more-btn {
margin-top: -1px;
margin-left: 10px;
padding: 10px 20px;
background-color: #84cd97;
color: white;
border: none;
border-radius: 5px;
cursor: pointer;
}
button.chatlive-btn {
  /* margin-top: 20px; */
  padding: 10px 20px;
  background-color: #0056b3;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  }
  button.chatlive-btn:hover {
    background-color: #060707d1;
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    /* border: 2px solid #060707; */
    }
    button.clickhere-btn {
      /* margin-top: 20px; */
      padding: 10px 20px;
      background-color:white;
      color: blue;
      border: none;
      border-radius: 5px;
      cursor: pointer;
      float: right;
      flex-direction: top !important;
      }
      button.clickhere-btn:hover {
        background-color: #060707d1;
        padding: 10px 20px;
        color: rgb(255, 255, 255);
        border: none;
        border-radius: 5px;
        cursor: pointer;
        /* border: 2px solid #060707; */
        }
    
.learn-more-btn:hover {
  background-color: #060707d1;
  padding: 10px 20px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  /* border: 2px solid #060707; */
  }
.side_common {
display: flex;
}
.side_data {
display: flow;
width: 250px;
padding-right: 10px;
}
h1#module-title {
font-size: 26px;
color: black;
font-weight: 600;
}
@media only screen and (max-width: 1353px) and (min-width: 769px)  {
  .sidebar {
    background-color: #00336600;
    color: white;
    width: 200px;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    border-radius: 5px;
    gap: 2px;
    margin-right: -1px;
}
.main-content img {
  max-width: 100%;
  height: auto;
  margin-top: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
  width: 900px;
  height: 455px;
}
.main-content {
  flex: 1;
  background: #ffffff;
  padding: 40px;
  display: block;
  border-radius: 5px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.side_common {
    display: flex;
    height: -webkit-fill-available;
}
.side_data {
  display: flow;
  width: 430px;
  padding-right: 0px;
}
}
@media (max-width: 768px) {
  .side_container {
    flex-direction: column;
    margin-bottom: 40px;
  }
  .side_common {
    display: grid;
}
  .sidebar {
    flex-direction: row;
    overflow-x: auto;
    width: 100%;
    height: auto;
    padding: 2px;
  }
  .sidebar button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
  }
  .main-content img {
    max-width: 100%;
    height: auto;
    margin-top: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    width: 620px;
    height: 455px;
}
.side_data {
  display: flow;
  width: 250px;
  padding-right: 10px;
}
.main-content {
  flex: 1;
  background: #f5f5f5;
  padding: 40px;
  display: flow;
  border-radius: 5px;
}
.sidebar button.active, .sidebar button:hover {
  background-color: #ffffff;
  color: #003366;
  font-weight: bold;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}
}
@media only screen and (max-width: 575.98px) and (min-width: 539px)  {
.card_industries {
  width: 450px;
}
}
@media only screen and (max-width: 538px) and (min-width: 500px)  {
  .card_industries {
    width: 435px;
  }
  }
  @media only screen and (max-width: 500px) and (min-width: 459px)  {
    .card_industries {
      width: 372px;
    }
    }
@media only screen and (max-width: 459px) and (min-width: 400px)  {
  .card_industries {
    width: 325px;
  }
}
@media only screen and (max-width: 400px) and (min-width: 339px)  {
  .card_industries {
    width: 285px;
  }
}      
/* about_card code start */
.about_card {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
.sm_card {
background: #fff;
border-radius: 8px;
padding: 30px;
box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
flex: 1 1 300px;
max-width: 400px;
display: flex;
flex-direction: column;
justify-content: center;
height: 220px;
}
.value {
  color: #0057b8;
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 10px;
}
.sm_card_description {
  color: #555;
  font-size: 16px;
}
.about_testimonial-card {
    display: flex;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 2 1 600px;
    max-width: 800px;
    height: 220px;
}
.about_testimonial-image {
    flex: 0 0 200px;
    object-fit: fill;
    width: 200px;
    height: auto;
    border-radius: 15px !important;
}
.about_testimonial-content {
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.about_testimonial-text {
  font-size: 15px;
  color: #555;
  margin-bottom: 30px;
}
.testimonial-author {
  font-size: 24px;
  font-weight: 500;
  color: #0057b8;
  margin-top: 50px;
}
.testimonial-name {
  font-size: 16px;
  font-weight: bold;
  color: #0057b8;
  font-style: italic;
}
.testimonial-role {
  font-size: 14px;
  color: #777;
  margin-bottom: 10px;
  padding-left: 10px;
  padding-top: 2px;
}
img.about_testimonial-image {
padding: 10px 10px 10px 10px !important;
}
@media (max-width: 992px) and (min-width:811px) {
  .sm_card {
    max-width: 750px;
    height: 260px;
  }
  .about_testimonial-card {
    height: 260px;
  }
}
@media (max-width: 810px) and (min-width:769px) {
.sm_card {
    background: #fff;
    border-radius: 8px;
    padding: 30px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    flex: 1 1 300px;
    max-width: 750px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 260px;
}
.about_testimonial-card {
    display: flex;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    flex: 2 1 600px;
    max-width: 800px;
    height: 260px;
}
}

@media (max-width: 768px) {
  .about_testimonial-card {
    flex-direction: column;
    align-items: center;
    text-align: center;
    max-width: 360px;
    height: auto;
  }
  .about_testimonial-image {
    width: -webkit-fill-available;
    height: auto;
  }
  .about_testimonial-content {
    padding: 20px;
  }
  .sm_card {
    max-width: 360px;
    height: 260px;
  }

}

.m-t-20{
padding-top: 20px;
}
/* heading css */
.bg_head {
  background: rgb(0 86 179);
  width: 1150px;
  border-radius: 7px;

}
.bg_head_new {
  background: rgb(0 86 179);
  font-style: Bold;
  font-size: 10px;
  width: 1200px;
  height: 210px;
  border-radius: 7px;
  padding-left: 442px;
padding-right: 10px;
padding-top: 35px;
}
.bg_head_top {
  padding-top: 100px;
  padding-bottom: 150px;
}
.heading {
 color: white;
 padding-top: 20px;
 padding-left: 40px;

}
.heading_1 {
  font-size: 21px;
 
 }
 .head_2 {
  font-size: 31px;
  color:whitesmoke;
  font-weight: bold;
 
 }
 .he_1 {
  font-size: 21px;
color: black;
}
.he_3 {
  font-size: 15px;
color:gray;
}
.he_2 {
  font-size: 20px;
  padding-left: 0px;
  padding-right: 0px;
color: #8d8dd5;
float: left;
}
 
 .bg_bottom {
  background: rgb(240 242 245);
  width: 1150px;
  height: 330px;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 50px;
  padding-right: 25px;
  border-radius: 7px;

}
